# Ignore the .vscode directory
.vscode/

# Ignore the bin directory
bin/

# Ignore the pkg directory
pkg/

# Ignore the vendor directory
vendor/

# Ignore the go.sum file
go.sum

# Ignore temporary files created by the editor
*.swp
*.tmp
*.bak
*.old

# Ignore compiled binaries
*.exe
*.out
*.o

# Ignore the .env file
.env

# Ignore json files with project information
*.json